{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Simple MOOC</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Simple MOOC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Uma Simples Plataforma de Ensino a Distância<i class="fas fa-globe-americas"></i></h1>
            <h2 class="lead">O Simple MOOC visa simplificar o ensino a distância,
              provendo ferramentas objetivas e de fácil uso para cursos a distância.</h2>
            <hr class="my-4">
            <p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
          </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vídeo-aulas e materiais digitais</h5>
                        <p class="card-text">O Simple MOOC tem um sistema simples e prático para que o
                          professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fórum de Dúvidas</h5>
                        <p class="card-text">No Simple MOOC você pode ter seu próprio sistema de fórum para que
                          seus alunos possam interagir com você e com os outros alunos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Exercícios</h5>
                      <p class="card-text">Você pode criar exercícios para que os alunos possam ser avaliados e todo o
                        controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Mural de Avisos</h5>
                      <p class="card-text">Organize os avisos do seu curso de forma fácil e simples,
                        enviando seus avisos diretamente aos alunos.</p>
                      </p>
                  </div>
              </div>
            </div>
        </div>
    </div>

</body>

</html>
